body {
    font-family: arial, sans-serif;
    background-color: whitesmoke;
}

.hero {
    text-align: center;
    margin-top: 50px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
    border: 3px solid black;
}

button {
    padding: 8px 15px;
    border-radius: 5px;
}

button:hover {
    background-color: lightgreen;
}